.navbar-components{
    .brands-navbar{
        box-shadow: rgba(0, 0, 0, 0.086) 0px 25px 20px -22px;
        
        .btn-brand{
            font-weight: bold;
        }
    }

    .img-profile{
        border-radius: 50%;
    }
}
