.search {
	justify-content: space-evenly;
	flex-wrap: wrap;
	background: rgba(246, 245, 245, 0.453);
	padding-top: 50px;
	height: 800px;
	min-height: 500px;

	.product-list {
		text-decoration: none;
	}
}
